.arrow-down {
  position: fixed;
  width: 100vw;
  bottom: 10px;
  text-align: center;

  z-index: 10000;

  font-family: 'Ubuntu Mono', monospace;
  color: white;
  font-size: 16px;
}


.dropdown-toggle::after {
  display:none;
}

.btn:focus {
  outline: none !important;
  border: none !important;
  background-color: transparent !important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}

.btn-secondary:focus {
  outline: none !important;
  border: none !important;
  background-color: transparent !important;
}

.btn-secondary:hover {
  outline: none !important;
  border: none !important;
  background-color: transparent !important;
  color: white !important;
}

.btn-secondary:visited {
  outline: none !important;
  border: none !important;
  background-color: transparent !important;
}

.btn-secondary:active {
  outline: none !important;
  border: none !important;
  background-color: transparent !important;
}

.btn-secondary {
  outline: none;
  background-color: transparent;
  border: none;
}

.close {
  outline: none !important;
  border: none !important;
  background-color: transparent !important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}

.fas {
  text-shadow: 1px -1px 3px black;
}

.dropdown-menu {
  top: -10px !important;
  text-align: right !important;
  font-family: 'Ubuntu Mono', monospace !important;
  font-size: 18px !important;
  background-color: transparent !important;
  color: #bbbbbb !important;
  border: none !important;
}

.dropdown-item {
  background-color: transparent !important;
  color: #bbbbbb !important;
  padding: 0 1rem 0 0 !important;

  text-shadow: 1px -1px 3px black;
}

.menu-item {
  cursor: pointer;
  transition: 0.5s;
}

.menu-item:hover {
  color: white;
}


.modal-dialog {
  width: 100%;
	min-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-family: 'Ubuntu Mono', monospace;
  text-align: justify;
  font-size: 10px;
  line-height: 2.5em;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border: 0 none;
  border-radius: 0;

  background-color: #252525;

  color: #bbbbbb;
}

.modal-header {
  border: none;
}

.modal-title {
  color: #bbbbbb;
  font-size: 20px;
}

.close {
  color: white;
}

.close:hover {
  color: white;
}

.modal-body {
  font-style: italic;
  font-size: 16px;
}

#modal-body-statement {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  padding: 10% 25%;
}

#modal-body-exhibition {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 15px;

  padding-top: 4%;
}

#modal-body-book {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;

  padding: 8% 25%;
}

.book-entry {
  font-family: 'Ubuntu Mono', monospace;
  text-align: left;
  font-size: 10px;
  line-height: 2.5em;
}

.journal-entry {
  font-family: 'Ubuntu Mono', monospace;
  padding: 0 35% 0 35%;
  text-align: justify;
  font-size: 10px;
  line-height: 2.5em;
}

.get-book {
  margin-top: 10%;

  width: 150px;
  height: 50px;

  color: #bbbbbb;
  font-size: 1.75em;
  background-color: transparent;
  border: 3px solid #bbbbbb;

  transition: 0.5s;
}

.get-book:hover {
  background-color: #bbbbbb;
  color: black;
}

.display-mobile {
  display: none;
}

/* #portrait-letter > .fp-controlArrow {
  display: none;
} */




@media (max-width: 767px) {
  .modal-fullscreen-xs-down {
    @include modal-fullscreen();
  }
}

@media (max-width: 991px) {
  .modal-fullscreen-sm-down {
    @include modal-fullscreen();
  }
}

@media (max-width: 1199px) {
  .modal-fullscreen-md-down {
    @include modal-fullscreen();
  }

  .display-mobile {
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    padding: 10%;
    width: 100vw;
    height: 100vh;

    background-color: #252525;
    color: #bbbbbb;
    font-family: 'Ubuntu Mono', monospace !important;
    font-size: 50px !important;

    font-size:

    z-index: 10000;
  }
}

.modal-fullscreen {
  @include modal-fullscreen();
}
